==
<?
function onStart() {
    $this['years'] = '';
    $this['days'] = '';

    for ($i = 1; $i <= 31; $i++) {
        $this['days'] .= '<option>' . $i . '</option>';
    }
    
    for ($i = date('Y') - 13; $i >= 1900; $i--) {
        $this['years'] .= '<option>' . $i . '</option>';
    }
}
?>
==
<form id="register" method="POST" class="group" data-request="onRegisterSubmit">
    <div id="carousel-register" class="registration-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item item-1 active">
                <div class="registration-step">Registration step 1 of 3</div>
                <h3>Basic Info</h3>
                <p>
                    You are signing up for DAM Rover. Once you complete the registration process, you will be ready to see the activities that are waiting for you.
                </p>
                <div class="form-group is-required">
                    <label for="first-name">First Name</label>
                    <input type="text"
                        id="first-name"
                        name="first_name"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-minlength="2"
                        data-parsley-group="block0" />
                </div>
                <div class="form-group is-required">
                    <label for="last-name">Last Name</label>
                    <input type="text"
                        id="last-name"
                        name="last_name"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-minlength="2"
                        data-parsley-group="block0" />
                </div>
                <div class="form-group is-required birthday">
                    <label for="birthday" class="above">Date of Birth</label>
                    <div class="date-select">
                        <select name="birthday[month]" id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">Decemember</option>
                        </select>
                        <select name="birthday[day]" id="day">
                            {{ days|raw }}
                        </select>
                        <select name="birthday[year]" id="year">
                            {{ years|raw }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input type="text"
                        name="zip"
                        class="form-control"
                        data-parsley-type="number"
                        data-parsley-required="false"
                        data-parsley-length="[5, 5]"
                        data-parsley-error-message="Please enter a valid zipcode"
                        data-parsley-group="block0" />
                </div>
            </div>
            <div class="item item-2">
                <div class="registration-step">Registration step 2 of 3</div>
                <h3>Account information</h3>
                <div class="form-group is-required">
                    <label for="email">Email</label>
                    <input type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-type="email"
                        data-parsley-group="block1"
                        data-parsley-remote
                        data-parsley-remote-validator="validateUsername"
                        data-parsley-trigger="change focusout"
                        data-parsley-remote-message="A user with this email address already exists."
                        data-parsley-remote-options='{ "type": "POST", "dataType": "json", "headers": { "X-OCTOBER-REQUEST-HANDLER": "onAvailableUser", "X-OCTOBER-REQUEST-PARTIALS":"" }}' />
                </div>
                <p class="email-policy">We will use your e-mail address consistent with our privacy policy to send you messages concerning your DAM Rover account.</p>
                <div class="form-group is-required">
                    <label class="control-label" for="password">Password</label>
                    <input type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-minlength="6"
                        data-parsley-group="block2" />
                </div>
                <div class="form-group is-required">
                    <label class="control-label" for="password-confirmation">Confirm</label>
                    <input type="password"
                        id="password-confirmation"
                        name="password_confirmation"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-minlength="6"
                        data-parsley-equalto="#password"
                        data-parsley-group="block2" />
                </div>
                <div class="form-group">
                    <input type="checkbox" class="left-check" id="email_optin" name="email_optin" value="1" checked="checked" />
                    <label for="email_optin" class="right optin-label">Please send me e-mail concerning other Denver Art Museum news, events, and offerings. I understand I may unsubscribe later if I choose to do so.</label>
                </div>
                <input type="hidden" name="phone" value="555 555-5555" class="form-control" />
                <input type="hidden" name="street_addr" value="" class="form-control" />
                <input type="hidden" name="city" value="" class="form-control" />
                <input type="hidden" name="state" value="" class="form-control" />
            </div>
            <div class="item item-3">
                <div class="registration-step">Registration step 3 of 3</div>
                <h3>Terms &amp; Conditions</h3>
                <div class="terms">
                    {% partial 'terms-and-conditions' %}
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <label for="accept" class="accept group">By choosing to continue, you accept these Terms &amp; Conditions.</label>
        <button name="accept" id="accept" type="submit" data-request="onRegisterSubmit" class="register btn btn-primary">Accept</button>
        <button class="registration-prev btn btn-primary btn-prev" href="#carousel-register" role="button" data-slide="prev">&#10094; Back</button>
        <button class="registration-next btn btn-primary" href="#carousel-register" role="button" data-slide="next">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="popup">Cancel</button>
    </div>
</form>

<script src="{{ ['assets/vendor/parsley.remote.js',
                 'assets/vendor/parsley.js',
                 'assets/javascript/registration-form.js']|theme }}"></script>


