<p>Rover is a mobile site that is designed to enhance your visit at the Denver Art Museum. Think of it as a museum visitor’s best friend. Rover will fetch recommendations of things for you to see and do at the museum.</p>
<p>Sign up and get access to a complete list of activities, programs and exhibitions. Each listing is accompanied by helpful information, a time frame for an average visit, and where to see it.</p>
<h1>Guide Rover.</h1>
<p>Customize the list according to your interests.</p>
<ul class="inline-non-bulleted">
    <li>Looking for something for the whole family? Rover can point you in the right direction.</li>
    <li>Feel like trying something new? Rover can lead you off the beaten path.</li>
    <li>In the mood to create? Rover can dig up hands-on activities around the museum.</li>
</ul>
<h1>Train Rover.</h1>
<p>Rover learns quickly and is eager to please. Choose any activity in your list. Tell Rover if you completed that activity or if you aren’t interested. As you give more feedback Rover becomes an even better companion on your visit.</p>
