<ul class="friends-filtered-activity-list">
    {% for activity in activities %}
    <li class="friends-activity preview" data-categories="{% for category in activity.categories %}{{ category.slug }}, {% endfor %}">
        <a class="do-btn icon-plus-square-o" href="#" data-activity-code="{{activity.activity_code}}"></a>
        {% if activity.image.path %}
            <img src="{{activity.image.path}}" />
        {% else %}
            <img src="" />
        {% endif %}
        <h3>{{ activity.title }}</h3>
        {{ activity.activity_fields.duration }}
        {{ activity.activity_fields.location }}
        <div class="extended-content">
            {{ activity.description|raw }}
        </div>
    </li>
    {% endfor %}
</ul>
<div class="links">{{ links|raw }}</div>
