/* RESET
-----------------------------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  /* Sets up the Base 10 stuff */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body,
h1,
h2,
h2 a,
h3,
h4,
h5,
h6,
p,
select,
textarea,
fieldset {
  color: #454b4d;
  font-family: "brandon-grotesque", Helvetica Neue, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
    background-color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
    font-size: 100%;
    -webkit-background-origin: padding-box;
}

body.full-res {
  zoom: 1 !important;
  text-rendering: optimizeLegibility; }

p {
  margin: 0.625em 0;
}

blockquote:disabled, input:disabled, select:disabled, textarea:disabled, button:disabled, .button:disabled {
  cursor: default; }

h1 {
  font-size:1.375em;
  font-weight:500;
  margin:0;
}

ul.inline-non-bulleted {
  list-style:none;
  margin:1em 0;
  padding:0;
}
ul.inline-non-bulleted li {
  margin:.5em 0 0 0;
}

/* FORM ELEMENTS
-----------------------------------------------------------------------------*/
input, select, textarea, button, .button {
  background: #f5f9fa;
  color: #454b4d;
  font-family: Verdana, sans-serif; /* TODO: form element typeface? */
  display: inline-block;
  vertical-align: center;
  position: relative;
  margin: 0;
}

input[type="text"], input[type="email"], input[type="password"] {
  font-size:.75em; /* .75 * 16px = 12px */
  width:14.1667em; /* default 170px width for text input fields: fits on a phone nice, can be overridden for individual fields as needed */
  padding: .25em .5em .5em;
  -webkit-border-radius: .375em;
  -moz-border-radius: .375em;
  -ms-border-radius: .375em;
  -o-border-radius: .375em;
  border-radius: .375em;
  border: thin solid #ccc !important;
}

input[type="button"], input[type="submit"], button, select, .button, .button:hover {
  text-decoration: none;
  -webkit-border-radius: .375em;
  -moz-border-radius: .375em;
  -ms-border-radius: .375em;
  -o-border-radius: .375em;
  border-radius: .375em;
  padding:.6em .75em .75em;
  text-align: center;
  border: thin solid #ccc;
  cursor: pointer;
  font-weight:500;
}
input[type="button"], input[type="submit"], button, .button, .button:hover {
  font-weight:700;
}
select.form-control {
  border: 2px solid #ccc !important;
  border-radius: 0 !important;
}

.hideform { display: none; }

label {
  font-weight: 500;
}
label.above {
  text-align:left;
  display:block;
  margin:0;
}
label.right {
  text-align:left;
  font-weight:400;
}
.form-group {
  margin:.25em 0;
}
.form-group:after {
  content: "";
  display: table;
  clear: both;
}
.form-group.is-required > label:after {
  content:"*";
  color:#BE3527;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  float:right;
}
.btn {
  margin:.5em;
}
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active,
.btn-primary:hover,
.btn-primary {
  background-color: rgba(77,184,219,1) !important;
  border-color: rgba(77,184,219,1) !important;
  color: #fff;
  float:right;
}
.btn-primary.btn-prev {
  float:left;
  margin-left:0;
}

.btn-default {
  border: thin solid #dae2e5;
  background-color: #dae2e5;
  color: #454b4d;
  float:right;
}

fieldset {
  border: 0; 
}

/* PAGE
-----------------------------------------------------------------------------*/
.page-content {
  margin:0;
  padding:0 4% 4.125em 4%;
}

.page-head {
  padding:.25em 0 .25em 4%;
  background:#dae2e5;
  border-bottom:thin solid #73584d;
  position:relative;
}
.login .page-head{
  padding:0;
  height:0;
}

.col-left {
  float:left;
}

.col-right {
  float:right;
}

.page-content.tabbed-page {
  padding-left:0;
  padding-right:0;
}

/* HEADER/NAV
-----------------------------------------------------------------------------*/
.masthead-logo {
  width:auto;
  height:1em;
  position:relative;
  top:.125em;
  left:-.125em;
}

.primary-links {
  -webkit-text-size-adjust: 100%;
  line-height:1.4em;
  font-size: 0.75em;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index:900;
  border-top: thin solid #8a9599;
  background: #f5f9fa;
  padding-top:.25em;
}

.primary-links .item {
    width: 33%;
    text-align: center;
    float: left;
}
.primary-links .item:last-child {
  float:right;
}

.primary-links .item a, .primary-link .item a:hover {
  display: block;
  width: 100%;
  padding:.25em;
  height: 100%;
  color: #8a9599;
  text-decoration: none;
}
.svg-icon.nav {
  width:2.625em;
  fill:#8a9599;
  height:2.75em;
  display:block;
  margin:0 auto;
}

body.profile .icon-profile, body.profile .icon-profile .svg-icon {
  color:#6cc069;
  fill:#6cc069;
}

body.explore .icon-explore, body.explore .icon-explore .svg-icon,
body.home .icon-explore, body.home .icon-explore .svg-icon {
  color:#6cc069;
  fill:#6cc069;
}


/* FLASH MESSAGES
-----------------------------------------------------------------------------*/
#flashMessages {
  display:none;
  position:fixed;
  top:1em;
  left:10%;
  right:10%;
  z-index:10000;
  background:#fff;
  border:thin solid #8a9599;
  margin:0 auto;
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
  border-radius:.5em;
  padding:0 0 .5em 0;
}
#flashMessages .flash-header {
  -webkit-top-left-border-radius:.5em;
  -webkit-top-right-border-radius:.5em;
  -moz-border-radius-topleft:.5em;
  -moz-border-radius-topright:.5em;
  border-top-left-radius:.5em;
  border-top-right-radius:.5em;
  background:#dae2e5;
  text-align:right;
  padding:.25em .5em 0 .5em;
}
#flashMessages .flash-messages {
  padding:.5em;
}
#flashMessages .flash-buttons {
  padding:.5em 0 0 0;
}
#flashMessages .flash-buttons .close-btn {
  float:left;
}
#flashMessages .refresh-btn {
  float:right;
}
#flashMessages .close-btn.icon {
  border:none;
  background:transparent;
}
#flashMessages .close-svg {
  fill:#454b4d;
}

/* POPUP HELP
-----------------------------------------------------------------------------*/
.popup-help-container {
  float:right;
  margin:.425em 4% 0 0;
  position:relative;
}
body.home .popup-help-container,
body.explore .popup-help-container {
  margin-right:4em;
}
.popup-help-container .popup-help-button {
  border-top-left-radius:1.25em; /* TODO: browser compatibility for radius */
  border-top-right-radius:1.25em;
  background:transparent;
  padding:.5em .375em 0 .375em;
  width:2.5em;
}
.popup-help-container svg {
  margin:0 auto;
  fill:#454b4d;
}
.popup-help-container.active  .popup-help-button {
  background:#6cc069;
}
.popup-help-container.active svg {
  fill:#fff;
}
#popup-help-message {
  display:none;
  position:absolute;
  top:1.25em;
  right:0;
  z-index:10000;
  width:75vw;
  background:#fff;
  border:2px solid #6cc069;
  margin:0;
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
  border-radius:.5em;
  padding:.75em .75em;
  font-size:.938em;
}
#popup-help-message h1 {
  margin:0;
  font-size:1em;
  font-weight:bold;
  margin-bottom:.75em;
}
#popup-help-message strong {
  color:#006485;
}
#popup-help-message p {
  margin:0 0 1em 0;
  font-weight:500;
}
#popup-help-message p:last-child {
  margin:0;
}

/* TABS
-----------------------------------------------------------------------------*/
#page-tabs {

}
.ui-tabs-nav,
.tab-list {
  background:#f5f9fa;
  border-bottom:thin solid #8a9599;
  border-radius:0;
  display:block;
  list-style:none;
  padding:0 4%;
  margin:0;
}
.ui-tabs-nav:after,
.tab-list:after {
  content: "";
  display: table;
  clear: both;
}

ul.ui-tabs-nav li.ui-state-default,
.tab-list .page-tab {
  background:transparent;
  font-size:.875em;
  float:left;
  padding:0 .25em .125em .25em;
  margin:.125em .5em .063em .5em;
  border-bottom: 2px solid #f5f9fa;
}
ul.ui-tabs-nav li.ui-state-default:first-child,
.tab-list .page-tab:first-child {
  margin-left:0;
}
ul.ui-tabs-nav li.ui-state-default:last-child,
.tab-list .page-tab:last-child {
  margin-right:0;
}
ul.ui-tabs-nav li.ui-state-default.ui-state-active,
.tab-list .page-tab.active {
  border-bottom: 2px solid #6cc069;
  color:#454b4d; 
}
a.ui-tabs-anchor,
.page-tab a,
a.ui-tabs-anchor:hover,
.page-tab a:hover,
a.ui-tabs-anchor:active,
.page-tab a:active {
  font-weight:400;
  color:#454b4d; 
  text-decoration:none;
}
ul.ui-tabs-nav li.ui-state-default.ui-state-active a.ui-tabs-anchor,
ul.ui-tabs-nav li.ui-state-default.ui-state-active a.ui-tabs-anchor:hover,
ul.ui-tabs-nav li.ui-state-default.ui-state-active a.ui-tabs-anchor:active,
.tab-list .page-tab a,
.tab-list .page-tab a:hover,
.tab-list .page-tab a:active {
  font-weight:500;
}
.ui-tabs-panel,
.tabbed-container {
  padding:0 4%;
}


/* LOGIN & REGISTRATION
-----------------------------------------------------------------------------*/
body.login {
  background:#4db8db;
}

.login-content {
  margin:1em auto;
  padding:1em;
  width:90%;
}

.login-logo {
  width:100%;
}

.login-intro{
  width:100%;
  color:#fff;
  text-align:left;
  font-weight:700;
  font-size:1em;
  margin:1.5em 0;
}
.login-intro a, .login-intro a:visited, .login-intro a:active, .login-intro a:hover {
  color:#fff;
}

.login-modal-triggers {
  margin:1em 0;
}

.login-modal-triggers .button {
  width:45%;
}

.login-link {
  float:right;
}

.forgot-passwd .button {
  font-size:.75em;
}

#register {
  font-size:1em;
}
#register .registration-step {
  font-size:.857em;
  font-style:italic;
}
#register h3 {
  font-size:1.125em;
  margin:0;
  font-weight:500;
}
#register p {
  margin:.25em 0 .75em 0;
}
#register .form-group.is-required > label:after {
  content:"";
}
.email-policy {
  font-size:.875em;
}
.left-check {
  float:left;
}
.optin-label {
  font-size:.875em;
  display:block;
  margin:.25em 0 .25em 1.5em;
}
#register label.accept {
  font-size:.875em;
  font-weight:400;
  margin:.5em 0;
}
#register .terms {
  font-size:.875em;
  border: thin solid #8a9599;
  font-weight:500;
  padding:.125em .25em;
  height: 288px;
  overflow-x: hidden;
  overflow-y:scroll;
}

.birthday .parsley-errors-list {
  display:none;
}

.birthday .date-select {
  text-align:right;
}

.buttons {
  margin:.5em 0;
}
.registration-next, .register {
  margin-right:0;
}
.parsley-errors-list {
  margin:0;
}

/* USER PROFILE PAGE
-----------------------------------------------------------------------------*/
.user-profile-form {
  margin-top:1.5em;
}
.user-profile-form .chng-passwd {
  font-size:.75em;
  width:14.1667em;
}
.user-profile-form h3 {
  margin-top:1em;
  font-weight:500;
  margin-bottom:.25em;
}
.user-profile-form select {
  float:right;
}

/* ACTIVITY LIST
-----------------------------------------------------------------------------*/

ol.rover-filtered-activity-list {
  padding:0;
  margin:0;
  list-style:none;
}

ol.rover-filtered-activity-list li.rover-activity-list-item {
  position:relative;
  font-size: 0.938em;
}

.rover-activity {
  background: rgba(255,255,255,1); /* TODO: highlight color when expanded? */
  margin:0;
  padding:0;
  overflow: hidden;
  display:block;
  position:relative;
  z-index:590;
  width:100%;
}

.rover-activity.filtered {
  display: none;
}

.rover-activity .image-container {
  float:left;
  padding:.75em 0 .75em 0;
  width:21.73913043%;
}

.rover-activity img {
    width:100%;
    max-width:225px; /* TODO: pixels, how quaint */
}
.compact .rover-activity .image-container {
  padding:0 .75em .75em 0;
}

.rover-activity .svg-icon {
  fill:#4db8db;
  margin-bottom:-.188em;
}

.rover-activity .swipe-indicator .svg-icon {
  fill:#8a9599;
  float:right;
  height:.875em;
  margin:2.375em 0 0 0;
  display:inline;
}
.compact .rover-activity .swipe-indicator .svg-icon {
  margin-top:1.5em;
}
.rover-activity .swipe-indicator .svg-icon.right {
  display:none;
}
.rover-activity.slid .swipe-indicator .svg-icon.left {
  display:none;
}
.rover-activity.slid .swipe-indicator .svg-icon.right {
  display:inline;
}

.rover-activity .svg-icon.location {
  fill:#BE3527;
}

.rover-activity .activity-time .svg-icon {
  margin-right:.375em;
}
.rover-activity .activity-start-time {
  margin-left:.75em;
}

.rover-activity .details {
  padding:.5em 0 .75em 2%;
  margin-left:23%;
  border-top:thin dashed #4db8db;
}
.compact .rover-activity .details {
  font-size:.875em;
  margin-left:0;
}

.rover-activity-list-item:first-child .details {
  border-top:none;
}

.rover-activity a {
    color: #454b4d;
    text-decoration: none;
}

.rover-filtered-activity-list .buttons {
  margin:0;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
}

a.do-btn, a.ignore-btn {
  color:rgba(255,255,255,1);
  font-size:1em;
  z-index:580;
  padding:2em .5em 0 .5em;
  display:block;
  float:right;
  text-decoration:none;
  height:100%;
}
.compact a.do-btn, .compact a.ignore-btn {
  padding-top:1.25em;
}

a.do-btn {
  background-color:rgba(108,192,105,1);
}

a.ignore-btn {
  background-color:rgba(192,108,105,1);
}

.rover-activity.completed {
  display:none;
}

.rover-activity h3 {
  font-size:1.067em;
  font-weight:500;
  margin:0;
  padding:0;
}

.rover-activity .extended-content {
  transition:height 1s;
  height:0px;
  overflow:hidden;
  width:100%;
  padding:0;
}

.rover-activity .extended-content p {
  margin:0;
  padding:0;
}

.rover-activity.reveal .extended-content {
  height:auto;
}
.compact .rover-activity.reveal .extended-content {
  padding-top:.75em;
}

/* PAGINATION
-----------------------------------------------------------------------------*/
.pagination {
  margin:1em auto;
  padding:0;
  list-style:none;
  text-align:center;
}
.pagination li {
  display:inline-block;
  margin:0 .5em;
  font-size:1.25em;
}
.pagination a, .pagination a:visited, .pagination a:hover {
  text-decoration:underline;
  color:#4db8db;
  font-weight:400;
}
.pagination li.disabled {
  color:#8a9599;
}
.pagination li.active {
  font-weight:700;
}

/* ACTIVITY LIST FILTERS
-----------------------------------------------------------------------------*/
.rover-activity-filters {
  line-height:1.2em;
  padding:.25em 0;
  font-size:1em;
  font-weight:500;
  position:relative;
  float:right;
  top:.25em;
  right:4%;
  z-index:600;
  border:none;
}

.rover-activity-filters.toggle-on {
  background:#fff;
}

.rover-filters-menu-btn {
  position:absolute;
  top:0;
  right:0;
  display:block;
  padding:.375em .5em .4em .5em;
  text-decoration:none;
  line-height:1.167em;
}
.rover-filters-menu-btn.on {
  z-index:610;
  color:#454b4d;
  font-size:.75em;
  background:#f5f9fa;
  border:1px solid #8a9599;
  -webkit-border-radius:1em;
  -moz-border-radius:1em;
  border-radius:1em;
  letter-spacing:1px;
}

.rover-filters-menu-btn.off {
  display:none;
  z-index:680;
  border:none;
  background:none;
}
.rover-filters-menu-btn.off svg {
  width:1.75em;
  height:1.75em;
  padding:.25em;
}
.rover-activity-filters #icon-close {
  fill:#454b4d;
}

.rover-activity-filters.toggle-on .rover-filters-menu-btn.off {
  display:block;
}

.rover-filters-menu-btn:hover {
  text-decoration:none;
}

.rover-activity-filters ul {
  padding:1.5em .75em .75em .75em;
  margin:0;
  list-style:none;
  display:none;
  position:absolute;
  z-index:625;
  top:0;
  right:0;
  background:#f5f9fa;
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius:.75em; 
  border:thin solid #8a9599;
}
.rover-activity-filters.toggle-on ul {
  display:block;
}

.rover-activity-filters ul li.rover-activity-filters-item {
  position:relative;
  border-top:1px solid black;
  padding-left:1.375em;
  padding-top:.25em;
  margin-top:.25em;
  white-space:nowrap;
}

.rover-activity-filters ul li.rover-activity-filters-item:first-child {
  border-top:none;
  margin-top:0;
  padding-top:0;
}

.rover-activity-filter, .rover-activity-filter:hover,
.rover-activity-filter-all, .rover-activity-filter-all:hover {
  color:#454b4d;
  text-decoration:none;
  width:100%;
  display:inline-block;
}

.rover-activity-filter .svg-icon {
  position:absolute;
  top:.125em;
  left:0;
}

.rover-activity-filter .svg-icon.box {
  display:inline;
  fill:#8a9599;
}
.rover-activity-filter .svg-icon.check {
  display:none;
  fill:#36474d;
}
.rover-activity-filter.active .svg-icon.check {
  display:inline;
}


/* ACTIVITY LOG
-----------------------------------------------------------------------------*/
.activity-log {
  padding:0;
  margin:0;
  list-style:none;
  border-left:thin solid #ccc;
  border-right:thin solid #ccc;
  border-bottom:thin solid #ccc;
}
.logged-activity {
  padding:1em .5em;
  border-top:thin solid #ccc;
}
.logged-activity:first-child {
  border:none;
}
.logged-activity .time-ago {
  font-weight:500;
}

/* MODAL
-----------------------------------------------------------------------------*/
.modal-open {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  z-index: 1500;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
       -o-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .375em;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop, .popup-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade, .popup-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0.5;
}
.modal-backdrop.in, .popup-backrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 17;
  padding:.5em .75em;
  background:rgba(218,226,229,1);
  color:#fff;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius:.375em;
  border-top-right-radius:.375em;
}
.modal-header .close-svg {
  fill:#454b4d;
}
.modal-header .modal-logo {
  width:35%;
  height:auto;
}
.modal-header #masthead .banner {
  fill:rgba(190,53,39,1);
}
.modal-header #masthead .letter {
  fill:#fff;
}
.modal-header .close {
  margin-top: -2px;
  border:none;
  padding:.75em;
  background:transparent;
  border-radius:2px;
  float:right;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.help h1 {
  font-size:1em;
  margin:0 0 .5em 0;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/* ICONS (SVG)
-----------------------------------------------------------------------------*/
.svg-icon {
  width:1.2em; /* slightly less than line height (1.4 set elsewhere), larger than font */
  height:1.2em;
  fill:#4db8db;
}

.svg-icon.inline {
  margin-right:.25em;
}

.close-svg {
  width: 1.5em;
  height:auto;
  fill:#BE3527;
}

/* UTILITY
-----------------------------------------------------------------------------*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* CAROUSEL (from bootstrap)
-----------------------------------------------------------------------------*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}

/* TABLET AND LARGER
-----------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /* HEADER/NAV
  ---------------------------------------------------------------------------*/
  .masthead-logo {
    margin-right:1em;
  }
  .primary-links {
    font-size:1.125em;
  }
  .svg-icon.nav {
    height:2.33333em;
  }

  /* FLASH MESSAGES
  ---------------------------------------------------------------------------*/
  #flashMessages {
    top:2em;
    left:20%;
    right:20%;
    font-size:1.5em;
  }

  /* POPUP HELP
  ---------------------------------------------------------------------------*/
  body.home .popup-help-container,
  body.explore .popup-help-container {
    margin-right:6em;
  }
  #popup-help-message {
    width:60vw;
  }

  /* TABS
  ---------------------------------------------------------------------------*/
  ul.ui-tabs-nav li.ui-state-default,
  .tab-list .page-tab {
    font-size:1.125em;
    padding:0 .25em .125em .25em;
    margin:.125em .75em .063em .75em;
  } 

  /* LOGIN & REGISTRATION
  ---------------------------------------------------------------------------*/
  .login-intro {
    width:70%;
    margin:1.5em auto;
    font-size:1.5em;
  }
  .login-intro a {
    display:block;
    text-align:center;
    margin:0 auto;
  }

  /* USER PROFILE
  ---------------------------------------------------------------------------*/
  .user-profile-form {
    width: 60%;
    margin:1.5em auto;
  }

  /* ACTIVITY LIST
  ---------------------------------------------------------------------------*/
  ol.rover-filtered-activity-list li.rover-activity-list-item {
    font-size:1.125em;
  }
  a.do-btn, a.ignore-btn {
    font-size:1.25em;
    padding:2em .75em 0 .75em;
  }
  .rover-activity .extended-content {
    height:auto;
    margin-top:.5em;
  }
  .compact .rover-activity .extended-content {
    height:0px;
  }
  .compact .rover-activity.reveal .extended-content {
    height:auto;
  }

  /* ACTIVITY LIST FILTERS
  ---------------------------------------------------------------------------*/
  .rover-activity-filters ul {
    font-size:1.25em;
  }

  /* MODAL
  ---------------------------------------------------------------------------*/
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }

  /* CAROUSEL (suspect these are unused, candidates for removal)
  ---------------------------------------------------------------------------*/
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

/* DESKTOP
 * all selectors preceded by html.no-touch to avoid screwing up hi-res tablets
-----------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  .no-touch .page-head {
    min-height:3.188em;
  }
  .no-touch .masthead-logo {
    height:1.25em;
  }

  .no-touch .primary-links {
    position:absolute;
    bottom:auto;
    top:0;
    right:10%;
    left:auto;
    display:block;
    background:transparent;
    border:none;
  }
  .no-touch .primary-links .item {
    width:auto;
    -webkit-border-radius:1.25em;
    -moz-border-radius:1.25em;
    border-radius:1.25em;
    padding:0 .5em .125em;
    margin-right:.25em;
  }
  .no-touch .primary-links .item:last-child {
    float:left;
    margin-right:0;
  }
  .no-touch .primary-links .item a, .no-touch .primary-links .item a:hover {
    display:inline-block;
    width:auto;
    height:auto;
    color:#454b4d;
  }
  .no-touch .svg-icon.nav {
    width:1.25em;
    height:1.25em;
    display:inline;
    position:relative;
    top:.25em;
    margin-right:.375em;
    fill:#454b4d;
  }

  .no-touch body.profile .item.nav-profile {
    background:#6cc069;
  }
  .no-touch body.profile .icon-profile, .no-touch body.profile .icon-profile .svg-icon {
    color:#fff;
    fill:#fff;
  }

  .no-touch body.explore .item.nav-explore,
  .no-touch body.home .item.nav-explore {
    background:#6cc069;
  }
  .no-touch body.explore .icon-explore, .no-touch body.explore .icon-explore .svg-icon,
  .no-touch body.home .icon-explore, .no-touch body.home .icon-explore .svg-icon {
    color:#fff;
    fill:#fff;
  }

  /* ACTIVITY LIST
  ---------------------------------------------------------------------------*/
  .no-touch .rover-filtered-activity-list {
    width: 75%;
  }

  .no-touch .rover-activity .swipe-indicator {
    display:none;
  }
  .no-touch .rover-filtered-activity-list .buttons {
    position:relative;
    float:right;
    height:100%;
  }
  .no-touch .rover-activity {
    width:auto;
  }
  .no-touch a.do-btn, .no-touch a.ignore-btn {
    float:none;
    display:block;
    margin:1em;
    height:auto;
    padding:.5em;
    font-size:.875em;
    border-radius:.375em;
    text-align:center;
  }
  .no-touch a.do-btn {
    background-color:rgba(77,184,219,1);
  }
  .no-touch a.ignore-btn {
    background-color:#dae2e5;
    color: #454b4d;
  }
  .no-touch .rover-activity .extended-content {
    margin-top:0;
  }

  /* ACTIVITY LIST FILTERS
  ---------------------------------------------------------------------------*/
  .no-touch .rover-activity-filters {
    position:absolute;
    top:5.375em;
    left:78%;
  }
  .no-touch .rover-filters-menu-btn {
    display:none;
  }
  .no-touch .rover-activity-filters ul {
    font-size:.875em;
    padding:.5em;
    display:block;
    position:relative;
    -webkit-border-radius:.375em;
    -moz-border-radius:.375em;
    border-radius:.375em;
    border:thin dashed #8a9599;
  }
  .no-touch .rover-activity-filters:before {
    content:"Filters:";
    margin:0 0 2em .375em;
    font-size:1em;
  }
  .no-touch .rover-activity-filters ul li.rover-activity-filters-item {
    white-space:normal;
  }

  /* POPUP HELP
  ---------------------------------------------------------------------------*/
  .no-touch body.home .popup-help-container,
  .no-touch body.explore .popup-help-container {
    margin-right:4%;
  }
  .no-touch .popup-help-container svg {
    position:relative;
    top:.25em;
    width:1.5em;
    height:1.5em;
  }
  .no-touch .popup-help-container .popup-help-button {
    padding-bottom:.875em;
  }
  .no-touch #popup-help-message {
    font-size:1.25em;
    top:1.875em;
  }
}






